.mt-2 {
    margin-top: 8px
}

.mt-3 {
    margin-top: 12px
}

.mt-4 {
    margin-top: 16px
}

.mt-6 {
    margin-top: 24px
}

.mb-2 {
    margin-bottom: 8px
}

.mb-3 {
    margin-bottom: 12px
}

.mb-4 {
    margin-bottom: 16px
}

.mb-6 {
    margin-bottom: 24px
}

.p-2 {
    padding: 8px
}

.p-3 {
    padding: 12px
}

.p-4 {
    padding: 16px
}

.p-6 {
    padding: 24px
}

.rounded {
    border-radius: var(--radius)
}

.rounded-lg {
    border-radius: var(--radius-lg)
}

.flex {
    display: flex
}

.items-center {
    align-items: center
}

.justify-between {
    justify-content: space-between
}

.gap-2 {
    gap: 8px
}

.gap-3 {
    gap: 12px
}

.gap-4 {
    gap: 16px
}

.hide-sm {
    display: none
}

@media(min-width:640px) {
    .hide-sm {
        display: initial
    }
}

.show-sm {
    display: initial
}

@media(min-width:640px) {
    .show-sm {
        display: none
    }
}

.shadow {
    box-shadow: var(--shadow)
}

.shadow-lg {
    box-shadow: var(--shadow-lg)
}

.text-center {
    text-align: center
}