.site-header{
  padding: 12px 20px;
}

.site-nav{
  display: flex;
  gap: 14px;
  align-items: center;
}

.site-nav a{
  color: #E6E9EF;  
  text-decoration: none;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 8px;
  transition: background .2s, color .2s, opacity .2s;
  opacity: .9;
}

.site-nav a:hover,
.site-nav a:focus{
  background: rgba(255,255,255,.08);
  opacity: 1;
  outline: none;
}

.site-nav .btn-logout{
  background: #2563eb;
  color: white;
  border: 0;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.site-nav .btn-logout:hover,
.site-nav .btn-logout:focus{
  background: #1d4ed8;
}





/* Campos del formulario de Login */
.MuiTextField-root input,
.MuiTextField-root label {
  color: #e5e7eb !important;       /* texto claro */
}

/* Borde del input */
.MuiOutlinedInput-root fieldset {
  border-color: #3b82f6 !important; /* azul tenue */
}

/* Al hacer foco */
.MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #60a5fa !important; /* azul más vivo */
}

/* Fondo del campo */
.MuiOutlinedInput-root input {
  background-color: #4e596c !important; /* gris oscuro */
}

/* Texto del placeholder */
.MuiInputLabel-root {
  color: #94a3b8 !important; /* gris claro */
}

.MuiButtonBase-root {
    color: #94a3b8 !important;
}